<div class="bio-wrapper">
  <h1 class="bio-headline">
    The man, the myth, the . . . who again?
  </h1>

  <%= image_tag(asset_path("j-w.jpg"), class: "joe-img") %>
  <div class="bio-body">

    <p>
      Hi! I'm a full-stack Rails developer, video game geek, and proud parent to two amazing dogs and a persnickety cat. I currently live in San Francisco with my fianc&eacute;, <a href="http://erikmunson.com">Erik Munson</a>, trying to make the internet a better place, one app at a time.  When I'm not doing that, I'm usually found blogging, playing the "Legend of Zelda", spending time with my dogs, or taking photos around the great city of San Francisco.
    </p>
    <p>
      I grew up in the Southwest, where I made snowmen out of tumbleweeds and baked in the hot, sweltering Southwestern sun. I attended the University of New Mexico, in Albuquerque, NM studying English and Philosophy but, after four years, I realized academia wasn't for me. So, where does one go when they have a penchant for pedantry and a life-long need to always be learning? Software Development. Now, I'm finding my way on the tumultuous terrain of technology, always moving forward in a world that's constantly changing.
    </p>

  </div>
</div>
