<div class="bio-wrapper">
  <h1 class="bio-headline">Hi, I'm Joseph.
  A full-stack Rails developer, video game geek, and proud parent to two amazing dogs and one persnickety cat.</h1>

  <img src="/assets/joe_wedding.jpeg" alt="Joseph Winfield" class="joe-img">
  <div class="bio-body">

    <p>

    </p>

    <p>
      Nullam sed risus tincidunt, gravida odio at, commodo justo. Mauris pharetra faucibus viverra. Vestibulum volutpat enim diam. Maecenas tristique condimentum lectus in pellentesque. Aliquam pellentesque lobortis ipsum id egestas. Nam dictum elit in nunc fermentum suscipit. Suspendisse sit amet neque ut purus lobortis rutrum. Integer turpis lorem, vulputate id sapien ac, lobortis condimentum justo. Suspendisse in finibus ex, id ullamcorper lorem. In a enim vitae justo dictum tristique.
    </p>

  </div>
</div>
