<div class="bio-wrapper">  
  <h1 class="bio-headline">Hello, I am Joseph.
  A purveyor of truth,
  wit and sarcasm on
  a mission to civilize.</h1>

  <img src="assets/joe_wedding.jpeg" alt="Joseph Winfield" class="joe-img">
  <div class="bio-body">

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel tortor ultrices, condimentum nisi in, auctor lorem. Nulla facilisi. Aenean metus justo, suscipit vitae justo et, aliquam consequat turpis. Suspendisse potenti. Curabitur sit amet eleifend arcu
    </p>

    <p>
      Nullam sed risus tincidunt, gravida odio at, commodo justo. Mauris pharetra faucibus viverra. Vestibulum volutpat enim diam. Maecenas tristique condimentum lectus in pellentesque. Aliquam pellentesque lobortis ipsum id egestas. Nam dictum elit in nunc fermentum suscipit. Suspendisse sit amet neque ut purus lobortis rutrum. Integer turpis lorem, vulputate id sapien ac, lobortis condimentum justo. Suspendisse in finibus ex, id ullamcorper lorem. In a enim vitae justo dictum tristique.
    </p>

  </div>
</div>
