/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
   font-size: 16px;
 }

 body {
   background-image: url('default-background.png');
   background-size: 476px 476px;
   -webkit-font-smoothing: antialiased;
 }

 .wrapper {
   padding: 0 0.9375rem;
 }

 .headline {
   font-family: 'IntroScriptB-LBase';
   font-weight: normal;
   font-size: 2.875rem;
   text-align: center;
   padding: 2.5rem 0 1rem 0;
   margin: 0;
 }

 ul {
   margin: 0;
 }

 .navigation {
   padding-bottom: 1.84375rem;
   text-align: center;
 }

 .navigation li {
   font-family: 'IntroHeadBUC-H2Base';
   display: inline-block;
   font-size: 1.125rem;
   /*Change Padding to a tag!!!*/
   padding: 0.90625rem;
   margin: 0 auto;
 }

 .navigation li:first-child {
   padding-left: 0;
 }

 .navigation li:last-child {
   padding-right: 0;
 }


 a {
   text-decoration: none;
   color: #333;
 }

 ul {
   padding: 0;
 }

 li {
   list-style: none;
 }

 @media (min-width: 500px) {
   .header {
     margin: 0 auto;
   }

   .headline::before {
     display: inline-block;
     content: url('monogram.svg');
     width: 6.25rem;
     height: 6.25rem;
     vertical-align: middle;
     padding-right: 1rem;
   }

   .headline {
     font-size: 2.84375rem;
     display: flex;
     justify-content: center;
     align-items: center;
   }
 }
