.post-form {
  margin: 0 auto;
  text-align: center;
}

textarea, input {
  border-radius: 5px;
  width: 500px;
  text-align: center;
  display: block;
  margin-bottom: 50px;
}

textarea {
  height: 100px;
}

label {
  display: none;
}
